
.body{
    margin:0px;
    padding: 0px;
    height: 100vh;
    background-color: #0D1C0D;
    position: relative;
}

.betButton{
    height: 35px;
    width: fit-content 
}

.drop-menu{
    height: 125px;
    overflow: scroll;
}

.message-box{
    background-color: #C1DBA9;
    display: flex;
    width: fit-content;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 28px;
    border-radius: 5px;
    padding: 5px;
}

.table{
    background: #4C8844;
    background: -moz-linear-gradient(top, #4C8844 0%, #77B143 50%, #4C8844 100%);
    background: -webkit-linear-gradient(top, #4C8844 0%, #77B143 50%, #4C8844 100%);
    background: linear-gradient(to bottom, #4C8844 0%, #77B143 50%, #4C8844 100%);
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player{
    width: 95vw;
    font-size: 20px;
}

.hand{
    background: #C1DBA9;
    background: -moz-linear-gradient(45deg, #C1DBA9 0%, #A2C97E 50%, #C1DBA9 100%);
    background: -webkit-linear-gradient(45deg, #C1DBA9 0%, #A2C97E 50%, #C1DBA9 100%);
    background: linear-gradient(45deg, #C1DBA9 0%, #A2C97E 50%, #C1DBA9 100%);
    height: 28vh;
    border-radius: 15px;
    overflow: scroll;
    display: flex;
    -webkit-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.65); 
    box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.65);
}

.buttons{
    margin-top: 10px;
}

.card1{
    height: 28vh;
    width: auto;
}

.budget{
    padding-top:0px;
    padding-bottom: 0px;
    font-size: 30px;
}

#deal-button{
    border-radius: 5px;
    font-size: 22px;
}

#hit-button{
    border-radius: 5px;
    font-size: 22px;
}

#stand-button{
    border-radius: 5px;
    font-size: 22px;
}

#reset-button{
    border-radius: 50%;
    font-size: 22px;
}

@media (max-height: 720px){
    .hand{
        height: 24vh;
    }

    .card1{
        height: 24vh;
    }
}

@media (max-width: 450px) {
    .betButton{
        height: 35px;
        font-size: 14px;
    }

    .budget{
        font-size: 16px;
    }

    .message-box{
        height: 30px;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0px;
    }

    .hand{
        height: 24vh;
    }

    .card1{
        height: 24vh;
    }

    #dealer{
        font-size: 16px;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    #player{
        font-size: 16px;
        margin-bottom: 5px;
    }

    #deal-button{
        font-size: 15px;
    }
    #hit-button{
        font-size: 15px;
    }
    
    #stand-button{
        font-size: 15px;
    }
    
    #reset-button{
        font-size: 15px;
    }
}